# (Data Science Tools and Ecosystem)

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
  <li><p>Python.</p></li>
  <li><p>R.</p></li>
  <li><p>SQL.</p></li>
  <li><p>Java.</p></li>
    <li><p>Scala.</p></li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li><p>Scikit-learn.</p></li>
  <li><p>Numpy.</p></li>
  <li><p>Pandas.</p></li>
  <li><p>Plotly.</p></li>
</ol>

| Data Science Tools|
|:--------:|
|  Apache SparkSQL  |
|  TensorFlow   |
|  MongoDB   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:** 
<li><p>Python.</p></li>
<li><p>R.</p></li>
<li><p>SQL.</p></li>

## Author

Ricardo Rodriguez Suarez